@function dynamicSize($size, $padding) {
  $computedSize: calc($size - $padding * 2);
  @return $computedSize;
}

@function createLongShadow($color, $steps) {
  $shadows: null;

  @for $i from 1 through $steps {
    $shadows: $shadows, #{$i}px #{$i}px $color;
  }

  @return $shadows;
}

@function createMultipleBorders($colors) {
  $borders: null;

  @for $i from 1 through length($colors) {
    $borders: $borders, 0 0 0 #{$i * 5}px nth($colors, $i);
  }

  @return $borders;
}

@function createMultipleBordersSteps($color, $steps) {
  $borders: null;

  @for $i from 1 through $steps {
    $borders: $borders, 0 0 0 #{$i * 5}px scale-color(adjust-hue($color, $i * 20), $alpha: $i * -5%);
  }

  @return $borders;
}
